html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(141, 195, 211);
  height: 2000px;
  scroll-behavior: smooth;
}

.nav {
  position: relative;
  padding: 25px;
  text-decoration: none;
  color: black;
  justify-content: center;
  flex-direction: column;
}

.backtohome {
  display: flex;
  position: relative;
  padding: 25px;
  text-decoration: none;
  color: black;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
  font-family: "Merriweather", serif;
  font-weight: 900;
}

.backhome:hover {
  color: pink;
}

.nav2box2 {
  display: flex;
  position: relative;
  padding: 25px;
  text-decoration: none;
  color: black;
  justify-content: center;
  width: 100%;
}

.nav2 {
  position: relative;
  padding: 25px;
  text-decoration: none;
  color: black;
  justify-content: center;
}

.nav3 {
  position: relative;
  padding: 25px;
  text-decoration: none;
  color: black;
  justify-content: center;
}

.navb {
  position: relative;
  padding: 25px;
  color: pink;
}

.nav a:hover {
  color: pink;
}

.nav a:focus {
  color: pink;
}

.nav a:active {
  color: pink;
}

.div0 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url(./img/Screen\ Shot\ 2021-12-05\ at\ 12.25.51\ PM.png);
  background-size: cover;
  overflow: scroll;
  scroll-behavior: smooth;
}

.div1 {
  display: flex;
  position: relative;
  background-color: white;
  margin-top: 125px;
  height: 2400px;
  width: 1050px;
  flex-direction: row;
  justify-content: flex-start;
}

.profilepic {
  height: 200px;
  border-radius: 50%;
}

.description {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  position: relative;
  font-size: 33px;
  margin-top: -5px;
}

.redquotes {
  color: red;
  font-family: "Merriweather", serif;
  font-weight: 900;
}

.textposition {
  position: relative;
  margin-top: -50px;
}

.text0 {
  display: flex;
  position: relative;
  font-size: 25px;
  color: black;
  text-align: center;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  height: 550px;
  margin-top: 30px;
}

#jump {
  background-color: white;
}

.imgsize0 {
  display: flex;
  justify-content: center;
}

.imgsize {
  height: 40px;
  margin-top: -75px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

/*Second Nav*/
.nav2box {
  display: flex;
  justify-content: center;
  margin-right: -20px;
  font-size: 19px;
  margin-top: 25px;
}

/*Section Description*/

.sectiondescription {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pseudo {
  height: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.column {
  flex-grow: 25%;
  max-width: 24%;
  padding: 0 4px;
  position: relative;
}

.column img {
  width: 50%;
  vertical-align: middle;
  margin-top: 8px;
}

.columnsection {
  position: relative;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.img-container {
  position: relative;
}

.img-container img {
  display: block;
  width: 100%;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.img-container:hover .overlay2 {
  opacity: 0.8;
}

.img-container:focus .overlay2 {
  opacity: 0.8;
}

.img-container:active .overlay2 {
  opacity: 0.8;
}

.descriptions {
  font-family: "Merriweather", serif;
  font-weight: 900;
  display: none;
}

.descriptions2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  display: none;
}

/*About page*/

.contactinfo {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  margin-top: 60px;
}

.contactinfo2 {
  display: flex;
  justify-content: center;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  position: relative;
  font-size: 20px;
  align-items: center;
  margin-top: 50px;
  text-decoration: none;
  color: black;
}

.contactinfo3 {
  display: flex;
  justify-content: center;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  position: relative;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.contactinfo4 {
  display: flex;
  justify-content: center;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  position: relative;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-top: 45px;
}

.redquotes2 {
  color: red;
  font-family: "Merriweather", serif;
  font-weight: 900;
  margin-right: 10px;
  text-decoration: none;
}

.redquotes3 {
  color: red;
  font-family: "Merriweather", serif;
  font-weight: 900;
  text-decoration: none;
  padding-bottom: 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.abouttext {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 75%;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
  flex-direction: column;
}

/*Media Queries*/

@media screen and (orientation: portrait) {
  .div1 {
    flex: 100%;
    height: 10000px;
  }
}

@media screen and (max-width: 800px) {
  .nav2box2 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 800px) {
  .navb,
  .nav2,
  .nav3 {
    display: flex;
    font-size: 13px;
    flex-direction: row;
    text-align: left;
    margin-left: -30px;
    font-weight: 900;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    font-weight: 800;
  }
}

@media screen and (max-width: 400px) {
  .nav {
    width: 100%;
    flex-direction: row;
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .imgsize0 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 400px) {
  .imgsize0 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  .descriptions {
    font-family: "Merriweather", serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  .descriptions2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  .backtohome {
    margin-top: -30px;
  }
}

@media screen and (max-width: 800px) {
  .div1 {
    margin-top: 70px;
  }
}

@media screen and (max-width: 400px) {
  .div1 {
    margin-top: 70px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .img-container:hover .overlay2 {
    opacity: 0.8;
  }
}
